body{
    margin: 0px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: teal;
    height: 5vh;
    font-weight: bolder;
    font-size: 14px;
    padding: 0.5% 1% 0.5% 2%;
    color: whitesmoke;
    box-shadow: 0px 5px 18px teal;
    border-radius: 0em 0em 0.2em 0.2em;
}
div{
    height: 80vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
header > div > h2 > a, header > div > a, header > h1 > a{
    text-decoration: none;
    color: whitesmoke;
}
header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}
header > div > a{
    font-size: 26px;
}
header > div > h2 > a:hover, header > div > a:hover{
    border-radius: 1em;
    box-shadow: 0px 0px 8px whitesmoke;
    background-color: white;
    color: teal;
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
}
#div > h1{
    margin-bottom: 5%;
}
a, h1, h2, button{
    margin: 0%;
}
#div{
    text-align: center;
    padding: 2%;
    border: 2px solid white;
    box-shadow: 0em 0em 2em 0.3em teal;
    border-radius: 1em;
    margin: 2em;
    height: 68vh;
    width: 30vw;
}
form{
    padding: 2%;
    margin: 0%;
    text-align: center;
}
h1{
    color: rgb(3, 95, 95);
    margin-top: 0%;
    font-weight: bolder;
}
#button{
    padding: 5px 60px;
    font-size: larger;
    font-weight: 600;
    border-radius: 0.8em;
    background-color: teal;
    box-shadow: 3px 3px 5px blue;
    color: white;
    border-color: white;
}
label{
    font-size: 18px;
    font-weight: bold;
    color: rgb(4, 52, 52);
}
#image, #quantity, #productName, #price, #details, #mobile{
    border-radius: 0.5em;
    padding: 1% 0%;
    padding-left: 2%;
    border-color: teal;
    font-weight: bold;
    color: rgb(4, 52, 52);
}
#image{
    padding-left: 0%;
}
.file::-webkit-file-upload-button{
    margin: 1% 7%;
    padding: 1% 3%;
    padding-left: 2%;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.3em;
    padding-left: .6em;
    padding-right: .6em;
    margin-top: .2em;
    background-color: white;
    box-shadow: 0px 0px 8px teal;
    color: black;
    border-radius: 0.8em;
    border-color: white;
}