body{
    margin: 0px;
}
header{
    background-color: teal;
    height: 5vh;
    font-weight: bolder;
    font-size: 36px;
    padding: 0.5% 0% 1% 2%;
    color: whitesmoke;
}
div{
    height: 80vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#div{
    text-align: center;
    padding: 2%;
    border: 2px solid white;
    box-shadow: 0em 0em 2em 0.3em teal;
    border-radius: 1em;
    margin: 2em;
    height: 68vh;
    width: 30vw;
}
form{
    padding: 2%;
    margin: 0%;
    text-align: center;
}
h1{
    color: rgb(3, 95, 95);
    margin-top: 0%;
    font-weight: bolder;
}
#button{
    padding: 5px 60px;
    font-size: larger;
    font-weight: 600;
    border-radius: 0.8em;
    background-color: teal;
    box-shadow: 3px 3px 5px blue;
    color: white;
    border-color: white;
}
label{
    font-size: 18px;
    font-weight: bold;
    color: rgb(4, 52, 52);
}
#image, #productName, #price, #details, #mobile{
    border-radius: 0.5em;
    padding: 1% 0%;
    padding-left: 2%;
    border-color: teal;
    font-weight: bold;
    color: rgb(4, 52, 52);
}
.file::-webkit-file-upload-button{
    margin: 1% 7%;
    padding: 1% 3%;
    padding-left: 2%;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.3em;
    padding-left: .6em;
    padding-right: .6em;
    margin-top: .2em;
    background-color: white;
    box-shadow: 0px 0px 8px teal;
    color: black;
    border-radius: 0.8em;
    border-color: white;
}