body{
    margin: 0%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: teal;
    height: 5vh;
    font-weight: bolder;
    font-size: 14px;
    padding: 0.5% 1% 0.5% 2%;
    color: whitesmoke;
    box-shadow: 0px 5px 18px teal;
    border-radius: 0em 0em 0.2em 0.2em;
} 
#idid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
header > div > h2 > a, header > div > a, header > h1 > a{
    text-decoration: none;
    color: whitesmoke;
}
header > div > a{
    font-size: 26px;
}
header > div > h2 > a:hover, header > div > a:hover{
    border-radius: 1em;
    box-shadow: 0px 0px 8px whitesmoke;
    background-color: white;
    color: teal;
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
}
a, h1, h2, button{
    margin: 0%;
}
div{
    height: 80vh;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#div{
    text-align: center;
    padding: 2%;
    border: 2px solid white;
    box-shadow: 0em 0em 2em 0.3em teal;
    border-radius: 1em;
    margin: 2em;
    height: 35vh;
    width: 30vw;
}
form{
    width: 100%;
    padding: 2%;
    margin: 0%;
    text-align: center;
}
h1{
    color: rgb(3, 95, 95);
    /* margin-top: 0%; */
    font-weight: bolder;
    color: white;
    /* margin-bottom: 1em; */
}
#Email, #changePassword, #firstName{
    border-radius: 0.5em;
    padding: 1% 0%;
    padding-left: 2%;
    border-color: teal;
    font-weight: bold;
    color: rgb(4, 52, 52);
}
label{
    font-size: 18px;
    font-weight: bold;
    color: rgb(4, 52, 52);
}
#button{
    padding: 5px 40px;
    font-size: larger;
    font-weight: 600;
    border-radius: 0.8em;
    background-color: teal;
    box-shadow: 3px 3px 5px teal;
    color: white;
    border-color: white;
}